
}
.freelancer p{
  text-align: center;
  padding: 30px;
  margin:30px;
  font-size: 20px;
}
.image{
  display: flex;  
  flex-direction: row;  
  padding: 30px;
}
img{
  border-radius: 120px;
}
.image div{
 padding:60px;
 margin: 10px;
}
.footer{
   background-color: rgb(5, 5, 5);
   color: white;
  
}
.foot{
   text-align: center;
}
.foot h2{
   font-size: 30px;
}
.icon{
   font-size: 40px;
   text-align: center;
   color: white;
}

.icon i{
  padding: 50px;
}
.icons{
  font-size: 20px;
  text-align: center;
 color: white;
}
.icons span{
  color:orangered;
}

  

