*{
  padding: 0px;
  margin: 0px;
}
body {
  background-color: white;
  
}
.header {
  margin: 10px 10px 10px 5px;
  padding: 70px;
  background-color: #00504e;
  background-repeat: no-repeat;
  height: 230px;
  width:100%;
}
/* making the webpage responsive to a small screen of min width of 410px*/

@media screen and (max-width: 412px) {
  .header {
    width: 200%;
    height: 200px;
  }
  .connectify >h1{
 font-size: 40px;
  font-weight: bolder;
  font-style: italic;
   color: #ffc745;
  position: absolute;
  top: 1px;
  left: 20px;
  }
 .title {
  position: absolute;
  height: 10%;
  width: 100%;
  padding: 20px 50px 20px 50px;
  margin: 0px 0px 1px 100px;
  float:right;
  
}
.title > h3,
h4 {
  color: #ffc745;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
 
}
#header > .header > .division > .navigation > .nav > a {
  padding: 5px 0px 5px 5px;
  background-color: black;
  justify-content: space-evenly;
  text-decoration: none;
  color: #ffc045;
  font-style: italic;
  position: absolute;
  top: 5px;
  left: 50px;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200%;
  margin-bottom: 30px;
}
.employers {
  border: 1px solid white;
  height: 300px;
  width: 100%;
  margin: 30px 50px 30px 50px;
   box-shadow: 5px 5px 5px 3px;
  border-radius: 30px;
  position: absolute;
  
  float: left;
}
.jobseekers {
  border: 1px solid white;
  height: 300px;
  width: 100%;
  margin: 30px 50px 30px 50px;
  background-color: white;
  box-shadow: 5px 5px 5px 3px;
  border-radius: 30px;
  position: absolute;
  
  float: right;
  
}
/*End of responsiveness*/
}

.header > .division {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.connectify >h1{
  font-size: 50px;
  font-weight: bolder;
  font-style: italic;
   color: #ffc745;
  position: absolute;
  top: 20px;
  left: 20px;
  
}
#header > .header > .division > .navigation {
  position:absolute;
  top: 30px;
  right: 20px;
}
#header > .header > .division > .navigation > .nav > a {
  padding: 10px 0px 10px 15px;
  background-color: black;
  justify-content: space-between;
  text-decoration: none;
  color: #ffc745;
  font-style: italic;
}
.title {
  padding: 30px 10px 20px 30px;
  position: absolute;
  top: 100px;
  margin-left: 120px;
  right: 30%;
}
.title > h3,
h4 {
  color: #ffc745;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.searchbar {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
 
}
.searchbar > div > input {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
}
.features {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}
.employers {
  border: 1px solid white;
  height: 700px;
  width: 48%;
  margin: 30px 50px 30px 50px;
  background-color: white;
  box-shadow: 5px 5px 5px 3px;
  border-radius: 30px;
}
.jobseekers {
  border: 1px solid white;
  height: 700px;
  width: 48%;
  margin: 30px 50px 30px 50px;
  background-color: white;
  box-shadow: 5px 5px 5px 3px;
  border-radius: 30px;
}
.jobseekers > div > h2 {
  color: #ffc745;
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}
.employers > div > h2 {
  color: #ffc745;
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}
.p {
  padding: 10px;
  color: black;
  font-size: 25px;
  margin-left: 10px;
}
.button {
  padding: 10px 20px 10px 20px;
  margin-left: 30px;
  color: #ffc745;
  background-color: black;
}
.reviews {
  text-align: center;
  border: 1px solid black;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 5px 3px 2px 2px;
}
.reviews > h2 {
  color: #ffc745;
  font-size: 20px;
  font-size: 30px;
}
marquee {
  color: black;
  font-size: 20px;
}
#footer {
  background-color: black;
  color: #ffc745;
  height: 300px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
}
.footer {
  display: flex;
}
.footer > .column {
  height: 250px;
  width: 32%;
  padding: 30px;
}
.fa-brands {
  padding: 10px;
}

.column > p > a {
  text-decoration: none;
  color: #ffc745;
}
.input {
  padding: 5px 30px;
}
